/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2020 Libre Solar Technologies GmbH
 */

/ {
	leds {
		compatible = "gpio-leds";
		power_led: led_3 {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "Power LED";
		};
	};

	aliases {
		ledstatus = &green_led;
		ledpower = &power_led;
	};
};
